@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-persian-blue-50: #eef6ff;
  --color-persian-blue-100: #dae9ff;
  --color-persian-blue-200: #bddaff;
  --color-persian-blue-300: #8fc3ff;
  --color-persian-blue-400: #5aa2ff;
  --color-persian-blue-500: #347dfd;
  --color-persian-blue-600: #1e5df2;
  --color-persian-blue-700: #1648df;
  --color-persian-blue-800: #193cb8;
  --color-persian-blue-900: #1a368e;
  --color-persian-blue-950: #152356;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .container-responsive {
    @apply w-full px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 mx-auto;
  }
}
